<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ò–≥–æ—Ä—å, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, —è –±—É–¥—É —Ç–≤–æ–∏–º –º–µ–Ω—Ç–æ—Ä–æ–º –Ω–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞:)
    
–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å –µ–≥–æ –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ–≥–æ –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–æ–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

# –í–ö–†. –ó–∞–¥–∞–Ω–∏–µ –ø–æ SQL (—Å—Ç—É–¥–µ–Ω—Ç –ø–æ—Ç–æ–∫–∞ da_90 –ì—É–¥–∏–ª–∏–Ω –ò–≥–æ—Ä—å).

# 1. –ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –∑–∞–¥–∞—á–∏

## 1.1 –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å. <br>
–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

## 1.2 –≠—Ç–∞–ø—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

1) –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
2) –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏;
3) –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–¥–ª—è –∏—Å–∫–ª—é—á–µ–Ω–∏—è –±—Ä–æ—à—é—Ä);
4) –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –ø—Ä–∏ —ç—Ç–æ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —É—á–∏—Ç—ã–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
5) –†–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

## 1.3 –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

* –¢–∞–±–ª–∏—Ü–∞ `books` (***—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö***):
    - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
    - `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
    - `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
    - `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
    - `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
    - `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è. <br>
<br>
* –¢–∞–±–ª–∏—Ü–∞ `authors` (***—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö***):
    - `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
    - `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞. <br>
<br>
* –¢–∞–±–ª–∏—Ü–∞ `publishers` (***—Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö***):
    - `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
    - `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞. <br>
<br>
* –¢–∞–±–ª–∏—Ü–∞ `ratings` (***c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥***):
    - `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
    - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
    - `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
    - `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏. <br>
<br>
* –¢–∞–±–ª–∏—Ü–∞ `reviews` (***c–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏***):
    - `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
    - `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
    - `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
    - `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

# 2. –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import pandas as pd
import sqlalchemy as sa

# 3. –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤

In [2]:
db_config = {
            'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
            'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
            'db': 'data-analyst-final-project-db' # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
            }
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})

# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º Pandas
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
    '''–û—Ç–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ, –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ sql, –∑–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ'''
    with engine.connect() as con:
        return pd.read_sql(sql=sa.text(query), con=con)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

# 4. –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ

## 4.1 –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

### 1. –¢–∞–±–ª–∏—Ü–∞ `books`

In [3]:
# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã books
query = '''
SELECT * FROM books LIMIT 5
'''
get_sql_data(query)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [4]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ books
query = '''
SELECT COUNT (*) 
FROM books
'''
get_sql_data(query)

   count
0   1000

### 2. –¢–∞–±–ª–∏—Ü–∞ `authors`

In [5]:
# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã authors
query = '''
SELECT * FROM authors LIMIT 5
'''
get_sql_data(query)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [6]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ authors
query = '''
SELECT COUNT (*) 
FROM authors
'''
get_sql_data(query)

   count
0    636

### 3. –¢–∞–±–ª–∏—Ü–∞ `publishers`

In [7]:
# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã publishers
query = '''
SELECT * FROM publishers LIMIT 5
'''
get_sql_data(query)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [8]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ publishers
query = '''
SELECT COUNT (*) 
FROM publishers
'''
get_sql_data(query)

   count
0    340

### 4. –¢–∞–±–ª–∏—Ü–∞ `ratings`

In [9]:
# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã ratings
query = '''
SELECT * FROM ratings LIMIT 5
'''
get_sql_data(query)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [10]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ratings
query = '''
SELECT COUNT (*) 
FROM ratings
'''
get_sql_data(query)

   count
0   6456

### 5. –¢–∞–±–ª–∏—Ü–∞ `reviews`

In [11]:
# –≤—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã reviews
query = '''
SELECT * FROM reviews LIMIT 5
'''
get_sql_data(query)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [12]:
# —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ reviews
query = '''
SELECT COUNT (*) 
FROM reviews
'''
get_sql_data(query)

   count
0   2793

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

## 4.2 –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –∑–∞–¥–∞—á

### 1. –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [13]:
query_1 = '''
SELECT COUNT(DISTINCT book_id)
FROM books
WHERE publication_date::date > '2000-01-01';
'''
get_sql_data(query_1)

   count
0    819

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—Å–µ–≥–æ –≤—ã—à–ª–æ `819` –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

### 2. –†–∞—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [68]:
query_2 = '''
SELECT DISTINCT b.title AS title,
                COUNT(DISTINCT rv.review_id) AS reviews,
                AVG(rt.rating) AS avg_rating
FROM books b
INNER JOIN reviews rv ON b.book_id = rv.book_id
INNER JOIN ratings rt ON b.book_id = rt.book_id
GROUP BY b.book_id
ORDER BY avg_rating DESC,
         reviews DESC;
'''
get_sql_data(query_2)

                                                 title  reviews  avg_rating
0                        A Dirty Job (Grim Reaper  #1)        4        5.00
1         Moneyball: The Art of Winning an Unfair Game        3        5.00
2              School's Out‚ÄîForever (Maximum Ride  #2)        3        5.00
3                A Fistful of Charms (The Hollows  #4)        2        5.00
4            A Woman of Substance (Emma Harte Saga #1)        2        5.00
..                                                 ...      ...         ...
989  The World Is Flat: A Brief History of the Twen...        3        2.25
990                                      Drowning Ruth        3        2.00
991                  His Excellency: George Washington        2        2.00
992                                              Junky        2        2.00
993                               Harvesting the Heart        2        1.50

[994 rows x 3 columns]

* –°–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ `A Dirty Job (Grim Reaper #1)` - **4 –æ—Ü–µ–Ω–∫–∏** –ø—Ä–∏ **—Å—Ä–µ–¥–Ω–µ–º —Ä–µ–π—Ç–∏–Ω–≥–µ 5.0**;
* –°–∞–º—ã–π –Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É –∫–Ω–∏–≥–∏ `Harvesting the Heart` - **2 –æ—Ü–µ–Ω–∫–∏** –ø—Ä–∏ —Å—Ä–µ–¥–Ω–µ–º —Ä–µ–π—Ç–∏–Ω–≥–µ –∫–Ω–∏–≥–∏ **1.5**.

In [37]:
query_2_1 = '''
SELECT b.title AS title,
       (COUNT(DISTINCT rv.review_id)) AS reviews,
       AVG(rt.rating) AS avg_rating
FROM books b
LEFT JOIN reviews rv ON b.book_id = rv.book_id
LEFT JOIN ratings rt ON b.book_id = rt.book_id
GROUP BY b.book_id
ORDER BY reviews DESC;
'''
get_sql_data(query_2_1)

                                                 title  reviews  avg_rating
0                              Twilight (Twilight  #1)        7    3.662500
1                                  Water for Elephants        6    3.977273
2                                     The Glass Castle        6    4.206897
3    Harry Potter and the Prisoner of Azkaban (Harr...        6    4.414634
4    The Curious Incident of the Dog in the Night-Time        6    4.081081
..                                                 ...      ...         ...
995    Anne Rice's The Vampire Lestat: A Graphic Novel        0    3.666667
996                            The Natural Way to Draw        0    3.000000
997   The Cat in the Hat and Other Dr. Seuss Favorites        0    5.000000
998                          Essential Tales and Poems        0    4.000000
999  Disney's Beauty and the Beast (A Little Golden...        0    4.000000

[1000 rows x 3 columns]

In [30]:
# —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ–π reviews
query_2a = '''
SELECT COUNT(review_id) AS reviews_c,
       book_id
FROM reviews
GROUP BY book_id
ORDER BY reviews_c DESC;
'''
get_sql_data(query_2a)

     reviews_c  book_id
0            7      948
1            6      656
2            6      497
3            6      963
4            6      696
..         ...      ...
989          1      599
990          1      187
991          1      156
992          1      984
993          1      760

[994 rows x 2 columns]

* –°–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –∫–Ω–∏–≥–æ–π —è–≤–ª—è–µ—Ç—Å—è `Twilight (Twilight #1)` - **7** –æ—Ü–µ–Ω–æ–∫

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ù–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ –ø–æ—Å—á–∏—Ç–∞–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤ - —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∑—è—Ç—å –∫–Ω–∏–≥—É —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –∏–∑ —Ç–≤–æ–µ–≥–æ –æ—Ç–≤–µ—Ç–∞ –∏ —Å–≤–µ—Ä–∏—Ç—å —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` - –±—É–¥–µ—Ç –ª–∏ —Å—Ö–æ–¥–∏—Ç—å—Å—è —á–∏—Å–ª–æ –æ—Ç–∑—ã–≤–æ–≤?
    
–¢–∞–∫–∂–µ –≤ —Ç–≤–æ—ë–º –∑–∞–ø—Ä–æ—Å–µ 994 —Å—Ç—Ä–æ–∫–∏. 1 —Å—Ç—Ä–æ–∫–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç 1 –∫–Ω–∏–≥–µ. –í –∑–∞–¥–∞–Ω–∏–∏ —Å–∫–∞–∑–∞–Ω–æ, —á—Ç–æ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥. –î–∞–≤–∞–π –ø—Ä–æ–≤–µ—Ä–∏–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `books`? –ù–∏—á–µ–≥–æ –ª–∏ –Ω–µ –ø–æ—Ç–µ—Ä—è–ª–æ—Å—å?
    
    
</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>
–ò–∑–º–µ–Ω–∏–ª —Ç–∏–ø –¥–∂–æ–∏–Ω–∞, —Ç–µ–ø–µ—Ä—å –≤—Å–µ –∫–Ω–∏–≥–∏ –Ω–∞ –º–µ—Å—Ç–µ, —Ç–∞–∫–∂–µ –¥–æ–±–∞–≤–∏–ª distinct –≤ —Å—á–µ—Ç—á–∏–∫ —Ä–µ–≤—å—é, —Ç–µ–ø–µ—Ä—å —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ–π.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

### 3. –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–¥–ª—è –∏—Å–∫–ª—é—á–µ–Ω–∏—è –±—Ä–æ—à—é—Ä)

In [16]:
query_3 = '''
SELECT p.publisher AS –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,
       COUNT(b.book_id) AS —á–∏—Å–ª–æ_–∫–Ω–∏–≥
FROM books b
JOIN publishers p ON b.publisher_id = p.publisher_id
WHERE b.num_pages > 50
GROUP BY p.publisher
ORDER BY —á–∏—Å–ª–æ_–∫–Ω–∏–≥ DESC
LIMIT 1;
'''
get_sql_data(query_3)

    –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ  —á–∏—Å–ª–æ_–∫–Ω–∏–≥
0  Penguin Books          42

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü, —è–≤–ª—è–µ—Ç—Å—è `Penguin Books`.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

### 4. –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –ø—Ä–∏ —ç—Ç–æ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —É—á–∏—Ç—ã–≤–∞—Ç—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [59]:
query_4 = '''
WITH book_table AS (SELECT b.title AS –Ω–∞–∑–≤–∞–Ω–∏–µ_–∫–Ω–∏–≥–∏,
                           a.author AS –∞–≤—Ç–æ—Ä,
                           AVG(rt.rating) AS –æ—Ü–µ–Ω–∫–∞,
                           COUNT(rating_id) AS –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ_–æ—Ü–µ–Ω–æ–∫
                    FROM books b
                    JOIN ratings rt ON b.book_id = rt.book_id
                    JOIN authors a ON b.author_id = a.author_id
                    GROUP BY b.title,
                             a.author
                    HAVING COUNT(rating_id) > 50)
SELECT –∞–≤—Ç–æ—Ä,
       AVG(–æ—Ü–µ–Ω–∫–∞) AS —Å—Ä–µ–¥–Ω—è—è_–æ—Ü–µ–Ω–∫–∞,
       SUM(–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ_–æ—Ü–µ–Ω–æ–∫) AS –æ—Ü–µ–Ω–æ–∫_–≤—Å–µ–≥–æ
FROM book_table
GROUP BY –∞–≤—Ç–æ—Ä
ORDER BY —Å—Ä–µ–¥–Ω—è—è_–æ—Ü–µ–Ω–∫–∞ DESC
LIMIT 5;
'''
get_sql_data(query_4)

                               –∞–≤—Ç–æ—Ä  —Å—Ä–µ–¥–Ω—è—è_–æ—Ü–µ–Ω–∫–∞  –æ—Ü–µ–Ω–æ–∫_–≤—Å–µ–≥–æ
0         J.K. Rowling/Mary GrandPr√©        4.283844         310.0
1  Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng        4.264151          53.0
2                     J.R.R. Tolkien        4.258446         162.0
3                  Louisa May Alcott        4.192308          52.0
4                      Arthur Golden        4.107143          56.0

In [69]:
# –ø—Ä–æ–≤–µ—Ä—è–µ–º –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å —Ä–∞—Å—Å—á–∏—Ç–∞–Ω–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫
query_4A = '''
SELECT b.title,
       a.author,
       AVG(rt.rating),
       COUNT(rt.rating_id)
FROM books b
JOIN ratings rt ON b.book_id = rt.book_id
JOIN authors a ON b.author_id = a.author_id
WHERE a.author = 'J.K. Rowling/Mary GrandPr√©'
GROUP BY a.author,
         b.title
'''
get_sql_data(query_4A)

,title,author,avg,count
0,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPr√©,4.500000,2
1,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling/Mary GrandPr√©,4.287500,80
2,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPr√©,4.246575,73
3,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPr√©,4.186667,75
4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPr√©,4.414634,82

–í—Å–µ –≤–µ—Ä–Ω–æ, –æ–¥–Ω–∞ –∫–Ω–∏–≥–∞ —Å 2 –æ—Ü–µ–Ω–∫–∞–º–∏ –Ω–µ –≤–æ—à–ª–∞ –≤ —Å–ø–∏—Å–æ–∫

–ê–≤—Ç–æ—Ä–æ–º —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Å —É—á–µ—Ç–æ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –±–æ–ª–µ–µ 50) —è–≤–ª—è–µ—Ç—Å—è `J.K. Rowling/Mary GrandPre`.

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b> –¢–∞–∫ –∫–∞–∫ –≤ –ø–µ—Ä–≤–æ–º –∑–∞–ø—Ä–æ—Å–µ –¥–∞–Ω–Ω—ã–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω—ã –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞, —Ç–æ —Ñ–∏–ª—å—Ç—Ä `HAVING`, –ø—Ä–∏–∑–≤–∞–Ω–Ω—ã–π –æ—Ç–±—Ä–æ—Å–∏—Ç—å –∫–Ω–∏–≥–∏ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –ø–µ—Ä–µ—Å—Ç–∞—ë—Ç —Ä–∞–±–æ—Ç–∞—Ç—å: —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ç–∑—ã–≤–æ–≤ –º–µ–Ω–µ–µ 50, –Ω–æ –µ—Å–ª–∏ –ø—Ä–æ—Å—É–º–º–∏—Ä–æ–≤–∞—Ç—å –æ—Ç–∑—ã–≤—ã –ø–æ –≤—Å–µ–º –∫–Ω–∏–≥–∞–º –≤ –ø—Ä–µ–¥–µ–ª–∞—Ö –∞–≤—Ç–æ—Ä–∞ (–∞ –∏–º–µ–Ω–Ω–æ —Ç–∞–∫ –∏ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –ø—Ä–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∞–≤—Ç–æ—Ä–∞), —Ç–æ 50 –∏ –±–æ–ª–µ–µ –æ—Ç–∑—ã–≤–æ–≤ –ª–µ–≥–∫–æ –Ω–∞–±–∏—Ä–∞–µ—Ç—Å—è. 
    
–ö–æ—Ä—Ä–µ–∫—Ç–Ω–µ–µ –∑–¥–µ—Å—å –ª–∏–±–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å —Å–Ω–∞—á–∞–ª–∞ –Ω–∞ —É—Ä–æ–≤–Ω–µ –∫–Ω–∏–≥–∏, —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVING` –±—É–¥–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å, –ª–∏–±–æ –æ—Å—Ç–∞–≤–∏—Ç—å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ –∞–≤—Ç–æ—Ä—É, –Ω–æ –≤ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ –Ω–∞–π—Ç–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç —É—á–∞—Å—Ç–≤–æ–≤–∞—Ç—å –≤ —Ä–∞—Å—á—ë—Ç–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ - —Ç–æ–≥–¥–∞ —Ñ–∏–ª—å—Ç—Ä `HAVNIG` –±—É–¥–µ—Ç –≤ —ç—Ç–æ–º –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ.
    
–¢–∞–∫–∂–µ –ø—Ä–æ–≤–µ—Ä—å –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ—Å—Ç—å –æ–ø–µ—Ä–∞—Ç–æ—Ä–∞ —Å—Ä–∞–≤–Ω–µ–Ω–∏—è –≤ `HAVING`.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>
–°–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–ª, –ø—Ä–æ–≤–µ—Ä–∏–ª, –≤—Ä–æ–¥–µ —Ç–µ–ø–µ—Ä—å –≤—Å–µ –≤–µ—Ä–Ω–æ.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

### 5. –†–∞—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

In [18]:
query_5 = '''
WITH ratings_table AS (SELECT DISTINCT rt.username,
                              COUNT(rt.rating_id) AS —á–∏—Å–ª–æ_–æ—Ü–µ–Ω–æ–∫
                       FROM books b
                       JOIN ratings rt ON b.book_id = rt.book_id
                       GROUP BY rt.username
                       HAVING COUNT(rt.rating_id) > 48
                       ORDER BY —á–∏—Å–ª–æ_–æ—Ü–µ–Ω–æ–∫ DESC),
     reviews_table AS (SELECT DISTINCT rb.username AS –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å,
                              COUNT(rv.review_id) AS —á–∏—Å–ª–æ_–æ–±–∑–æ—Ä–æ–≤
                       FROM ratings_table rb
                       INNER JOIN reviews rv ON rb.username = rv.username
                       GROUP BY rb.username
                       ORDER BY —á–∏—Å–ª–æ_–æ–±–∑–æ—Ä–æ–≤ DESC)
SELECT ROUND(AVG(—á–∏—Å–ª–æ_–æ–±–∑–æ—Ä–æ–≤)) AS —Å—Ä–µ–¥–Ω–µ–µ_—á–∏—Å–ª–æ_–æ–±–∑–æ—Ä–æ–≤
FROM reviews_table;                      
'''
get_sql_data(query_5)

   —Å—Ä–µ–¥–Ω–µ–µ_—á–∏—Å–ª–æ_–æ–±–∑–æ—Ä–æ–≤
0                   24.0

–°—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç `24`.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ!

# 5. –û–±—â–∏–µ –≤—ã–≤–æ–¥—ã

* –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—Å–µ–≥–æ –≤—ã—à–ª–æ `819` –∫–Ω–∏–≥;
* –°–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ `A Dirty Job (Grim Reaper #1)` - **4 –æ—Ü–µ–Ω–∫–∏** –ø—Ä–∏ **—Å—Ä–µ–¥–Ω–µ–º —Ä–µ–π—Ç–∏–Ω–≥–µ 5.0**;
* –°–∞–º—ã–π –Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —É –∫–Ω–∏–≥–∏ `Harvesting the Heart` - **2 –æ—Ü–µ–Ω–∫–∏** –ø—Ä–∏ —Å—Ä–µ–¥–Ω–µ–º —Ä–µ–π—Ç–∏–Ω–≥–µ –∫–Ω–∏–≥–∏ **1.5**;
* –°–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –∫–Ω–∏–≥–æ–π —è–≤–ª—è–µ—Ç—Å—è `Twilight (Twilight #1)` - **7** –æ—Ü–µ–Ω–æ–∫;
* –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü, —è–≤–ª—è–µ—Ç—Å—è `Penguin Books`;
* –ê–≤—Ç–æ—Ä–æ–º —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Å —É—á–µ—Ç–æ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫ –±–æ–ª–µ–µ 50) —è–≤–ª—è–µ—Ç—Å—è `J.K. Rowling/Mary GrandPre`;
* –°—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç `24`.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –û—Ç–ª–∏—á–Ω—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É!

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ò–≥–æ—Ä—å, —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - —á–∞—Å—Ç—å –∑–∞–¥–∞–Ω–∏–π —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π, –æ–Ω–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–µ—Ä–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç–µ–±–µ —É–¥–∞–ª–æ—Å—å –∑–¥–æ—Ä–æ–≤–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Ç–µ–º–µ.
    
–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:)
    
–ö –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∑–∞–¥–∞–Ω–∏—è–º —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∫ –Ω–∏–º —è –æ—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞ —Å –ø–æ—è—Å–Ω–µ–Ω–∏—è–º–∏ –≤–Ω—É—Ç—Ä–∏. –î—É–º–∞—é, —Ç—ã –±—ã—Å—Ç—Ä–æ —Ä–∞–∑–±–µ—Ä—ë—à—å—Å—è, –≤ —á—ë–º –¥–µ–ª–æ.

–¢–∞–∫–∂–µ –±—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞: –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ò–≥–æ—Ä—å, –≤–æ—Ç –º—ã –∏ –ø—Ä–µ–æ–¥–æ–ª–µ–ª–∏ —Ñ–∏–Ω–∏—à–Ω—É—é —á–µ—Ä—Ç—É - –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞!
    
–ü—Ä–æ–¥–µ–ª–∞–Ω–∞ –±–µ–∑ —Å–æ–º–Ω–µ–Ω–∏—è –∫—Ä—É—Ç–∞—è –∏ —Ç—è–∂—ë–ª–∞—è —Ä–∞–±–æ—Ç–∞, –∏ –≤—Å–µ –ø—Ä–æ–µ–∫—Ç—ã —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ —É–¥–∞–¥–æ—Å—å –≤—ã–ø–æ–ª–Ω–∏—Ç—å –Ω–∞ –¥–æ—Å—Ç–æ–π–Ω–æ–º —É—Ä–æ–≤–Ω–µ - —É–≤–µ—Ä–µ–Ω, –µ—Å–ª–∏ —Ä–µ—à–∏—à—å —Ä–∞–∑–≤–∏–≤–∞—Ç—å—Å—è –¥–∞–ª—å—à–µ –≤ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–∏, —Ç–µ–±—è –∂–¥—ë—Ç —É—Å–ø–µ—Ö –∏ —Ö–æ—Ä–æ—à–∏–π —Ä–æ—Å—Ç:)
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ö–æ—Ä–æ—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–∞–º–∏ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞, –∂–µ–ª–∞—é –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞ –∏ —Ä–∞–∑–≤–∏—Ç–∏—è, –ø—Ä–æ–µ–∫—Ç–æ–≤ –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –∞ —Ç–∞–∫–∂–µ –∞–¥–µ–∫–≤–∞—Ç–Ω—ã—Ö –∑–∞–∫–∞–∑—á–∏–∫–æ–≤:)